.boxes {
    width: 100vw;
    display: flex;
}

#drag {
    width: 40vw;
    margin: 2vw
}

#drop {
    background: center / cover no-repeat url('../img/house.jpg');
    height: 80vh;
    width: 55vw;   
}

.houseOption {
    font-size: 16px;
    background: salmon;
    width: 6vw;
    height: 5vw;
    display: inline-flex;
    margin: 5px; 
    text-align: center;
    border-radius: 15%;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

.wall {
    display: flex;
    float: right;
}
.wall-item{
    border: 2px solid black;
    border-radius: 5px;
    width: 5vw;
    height: 5vw;
    margin: 10px;
    display: block;
}

.wall-item p {
    /* padding: 20px 10px 0px; */
    color: salmon;
}

.adobe {
    background: center / contain no-repeat url('../img/adobe-brick.svg') white;
}
.brick {
    background: center / contain no-repeat url('../img/bick-icon-png-15.jpg') white;
}
.wood {
    background: center / contain no-repeat url('../img/wood-icon-20.jpg') white;
}

footer {
    width: 100vw;
    display: block;
}